table,td,th,tr{
    border: 0.5px solid;
    padding: 10px;
    width: 30%;
    height: 30%;
    margin: auto;
}
h1{
    font-size: 1.1rem;
    text-align: center;
}
table{
    table-layout: fixed;
    border-collapse: collapse;
}
th{
    text-align: left;
}